<h4><i class="fas fa-tasks"></i> Duties of Employees </h4>
<div class="section">
    <p class="lead">Create public and private tasks, as well as view your coworker's to-do list and responsibilities.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
